.pet-card{
  font-family: 'Chewy', cursive;
  color: rgb(98, 50, 135);
  font-size: 30px;


}
.pet-image{
    height: 40vh;
    transform-box: scale(0.3);
}

.care-button{
  text-align: center;
    border-radius: 20%;
}
