.App {
  display: grid;
  grid-template-areas:  "navbar main main itembar"
                        "navbar main main itembar"
                        "navbar main main itembar"
                        "navbar main main itembar";

  background-color: pink;
}


.navbar{
  grid-area: navbar
}


.pets-container{
  grid-area: main;

}

.item-bar{
  grid-area: itembar;
  height: 475px;
  overflow: scroll;
}

.item-bar .items-header{
  text-align: center;

}

.shop{
  grid-area: main;
  height: 475px;
  overflow: scroll;
}
