.App {
  display: grid;
  grid-template-areas:  "header header header"
                        "navbar main itembar"
                        "points main itembar";

  grid-template-rows: 15vh 60vh 6vh;
  grid-template-columns: 15vh 1fr;

}
body{
  background-color: rgb(135, 155, 235);
}

.snake-game{
  grid-area: main;
}


.user-points{
  grid-area: points;
  margin-top: 15vh;
  font-family: 'Chewy', cursive;
  color: rgb(121, 65, 189);
}

.navbar{
  grid-area: navbar;
  /* grid-template-areas:  'pets .'
                        'adopt .'
                        'shop .'
                        'play .';
  grid-template-columns: 3vh 1vh 1vh 1vh;  */
  text-align: center;
  height: 80vh;
  overflow: scroll;
  font-family: 'Chewy', cursive;

}
a{
  font-size: 5vh;
  color: rgb(242, 165, 222);
  transition: 0.3s;
  text-decoration: none;
}


.navbar #adopt:hover{
  color: pink;
}

.navbar #pets:hover{
  color: pink;
}

.navbar #shop:hover{
  color: pink;
}

.navbar #game:hover{
  color: pink;
}

.pets-container{
  grid-area: main;
  height: 80vh;
  overflow: scroll;
}

.item-bar{
  grid-area: itembar;
  height: 80vh;
  overflow: scroll;
}

.item-bar .items-header{
  text-align: center;
  font-family: 'Chewy', cursive;
}

.adopt-pet-img{
  width: 500px;
  height: 550px;
}
.adopt-pet{
  grid-area: main;
  text-align: center
}

.shop{
  grid-area: main;
  height: 80vh;
  overflow: scroll;
}

.header{
  grid-area: header;
  text-align: center;
  font-size: 6vh;
  color: rgb(29, 20, 125);
  border: 2px solid white;
  /* font-family: 'Cabin Sketch', cursive; */
  font-family: 'Love Ya Like A Sister', cursive;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: rgb(210, 137, 216);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 55, 159);
}